{
    "presets": ["next/babel"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@core": "./modules/core",
                    "@landing": "./modules/landing"
                }
            }
        ]
    ]
}
